body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

img {
    display: block;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

h3 {
    text-align: center;
}

.form {
    margin-top: 20px;
}

#content {
    width: 75%;
}