<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    {% block head %}{% endblock %}
</head>
<body {% block body_attrs %}{% endblock %}>
    {% block body %}{% endblock %}
</body>
</html>