{% extends 'base.html' %}

{% block head %}
    <title>Temperature</title>
{% endblock %}
{% block body_attrs %}onload="addTimer();"{% endblock %}
{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='getDynamicData.js') }}"></script>
    <div class="content">

        <h1 style="text-align: center">Ustaw temperature docelową</h1>
        <div class="form">
            <form action="/" method="POST">
                <input type="number" required="required" name="content" id="content">
                <input type="submit" value="Ustaw">
            </form>
        </div>

        <h1 style="text-align: center">Odczyty</h1>
        <table>
            <tr>
                <th>Zadana temperatura</th>
                <th>Chwilowa temperatura</th>
                <th>Akcje</th>
            </tr>
            <tr>
                {% if target_temp is defined %}
                    <td>{{ target_temp }}*C</td>
                {% else %}
                    <td style="font-style: italic">Nie zdefiniowane</td>
                {% endif %}
                <td><span id="readTemp"></span>*C</td>
                <td>
                    <a href="/">Wyczyść</a>
                </td>
            </tr>

        </table>
    </div>
    <img id="plot_id">
    <br><h3>Data i godzina pomiaru: <span id="timeField"></span></h3>
{% endblock %}